/* ---------- footer ---------- */
footer {
	background-color: $main-color;
	height: 290px;
	overflow: hidden;

	.menu {
		background-color: $main-color-l;

		ul {
			@include outer-container;
			padding: $gutter/4 0;

			li {
				display: inline-block;
				@include span-columns(2);

				ul {
					width: 100%;
					padding: 5px 0 0 0 ;

					li {
						display: block;
						width: 100%;


						a {
							font-size: 13px;
							color: $bg;
							line-height: 20px;
						}
					}
				}
				a {
					color: white;
					display: block;
					
					&:hover {
						color: $bg-d;
					}
				}
			}
		}
	}
	
	section {
		@include outer-container;
		padding: $gutter/2 0;

		article {
			@include span-columns(3);
			@include omega(4n);
			color: white;
			
			.languages {
				padding: 0px;
				
				li {
					margin: 0 10px 0 0;

					a {
						color: white;

						&:hover {
							color: $bg-d;
						}
					}
				}
			}

			div {
				font-size: 12px;
				line-height: 16px;

				p {
					color: white;
					margin: 0px;
				}


				a {
					color: white;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
						color: $bg-d;
					}
				}
			}
			

			strong {
				color: white;
			}

			h3 {
				font-size: 15px;
				color: white;

				padding: 0px 0 5px 0;
			}
		}
	}
}

.social {
	padding: 0;
	li {
		display: inline-block;
		margin: 0 10px 0 0;
	}

	a {
		img {
			opacity: 0.6;
			@include transition (all 0.2s ease-in-out);
		}

		&:hover {

			img {
				opacity: 1;
			}
		}
	}
}